<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.smbsolutions.day"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Definiert die minimale Android Version -->
    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <!-- Legt die Zugriffsrechte der App fest. -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- Legt das Icon, App Name und das App Theme der App fest. -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Appbasetheme" >

        <!-- Simon: AIzaSyB8LSEa5JoTGxnd1bfg9HE2FkmIadcZD_0 -->
        <!-- Mirko: AIzaSyCQEqd_ENlCU2hN6vr__HAbOja2GUSgdIQ -->
        <!-- Bijan: AIzaSyBxJ55c4tfCj8ijdmLSsheogpUXN_e0k70 -->
        <!-- Release: AIzaSyAssuITfMpUMpqIJadjA4NPPOdcnbvQKrk -->
        <!-- Legt den Google Maps Key fest. -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAssuITfMpUMpqIJadjA4NPPOdcnbvQKrk" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="de.smbsolutions.day.presentation.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".functions.location.TrackingService" >
        </service>
    </application>

</manifest>